@model ResourceBookingSystem.Models.Booking

@{
    ViewData["Title"] = "Cancel Booking";
}

<h1>Cancel Booking</h1>

<h3>Are you sure you want to cancel this booking?</h3>
<div>
    <h4>Booking Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Resource)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Resource.Name)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.StartTime)</dt>
        <dd class="col-sm-10">@Model.StartTime.ToString("f")</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.EndTime)</dt>
        <dd class="col-sm-10">@Model.EndTime.ToString("f")</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.BookedBy)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.BookedBy)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Purpose)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Purpose)</dd>
    </dl>

    <div class="modal fade" id="confirmCancelModal" tabindex="-1" aria-labelledby="confirmCancelModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmCancelModalLabel">Confirm Cancellation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to cancel the booking for "@Html.DisplayFor(model => model.Resource.Name)" on @Model.StartTime.ToString("f")? This action cannot be undone.</p>
                    <div id="cancelError" class="text-danger" style="display:none;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" id="confirmCancelBtn">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>

@section Scripts {
    <script>
                $(document).ready(function () {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var bookingId = @Model.Id;

            $('#confirmCancelModal').modal('show');

            $('#confirmCancelBtn').click(function () {
                $.ajax({
                    url: '/Bookings/Delete',
                    type: 'POST',
                    data: {
                        id: bookingId,
                        __RequestVerificationToken: token
                    },
                    success: function (response) {
                        if (response.success) {
                            window.location.href = '@Url.Action("Index", "Bookings")';
                        } else {
                            $('#cancelError').text(response.message).show();
                        }
                    },
                    error: function (xhr) {
                        console.error('Delete error:', xhr.responseText);
                        $('#cancelError').text('Error cancelling booking').show();
                    }
                });
            });
        });
    </script>
}